<%if @response.key? :error%>
	<p>
	  <strong>Please insert an email ! </strong>
	</p>
<%else%>
	<p>
	  <strong>Email:</strong>
	  <%= @response[:email] %>
	</p>
	<p>
	  <strong>Did You Mean:</strong>
	  <%= @response[:did_you_mean] %>
	</p>
	<p>
	  <strong>User:</strong>
	  <%= @response[:user] %>
	</p>
	<p>
	  <strong>Domain:</strong>
	  <%= @response[:domain] %>
	</p>
	<p>
	  <strong>Format Valid:</strong>
	  <%= @response[:format_valid] %>
	</p>
	<p>
	  <strong>Mx Found:</strong>
	  <%= @response[:mx_found] %>
	</p>
	<p>
	  <strong>Smtp Check:</strong>
	  <%= @response[:smtp_check] %>
	</p>
	<p>
	  <strong>Catch All:</strong>
	  <%= @response[:catch_all] %>
	</p>
	<p>
	  <strong>Role:</strong>
	  <%= @response[:role] %>
	</p>
	<p>
	  <strong>Disposable:</strong>
	  <%= @response[:disposable] %>
	</p>
	<p>
	  <strong>Free:</strong>
	  <%= @response[:free] %>
	</p>
	<p>
	  <strong>Score:</strong>
	  <%= @response[:score] %>
	</p>
<%end%>
<%= link_to 'Back', new_email_path%>